# Capstone Project:

# Name of Project: Shoes Brand Project

In [1]:
import sqlite3
dbcon=sqlite3.connect('ShoesBrandsCSV_database.db')
cur=dbcon.cursor()

In [8]:
cur.execute("create table brandy(sid int primary key,Shoes_name varchar, shoes_category varchar, shoes_price float, shoes_colour varchar)")

OperationalError: table brandy already exists

In [ ]:
#I have tried to insert 100 rows at a time as it showed binding errors due to the extra commas in texts

In [44]:
with open('mynew_file.csv', 'r') as file:
    total_records=0
    for row in file:
        cur.execute("insert into brandy values (?,?,?,?,?)", row.split(","))
        dbcon.commit()
        total_records+=1
print("Total records:", total_records)

Total records: 100

In [ ]:
#Finally I was able to get all values without any errors and results showing below.

In [22]:
results=cur.execute("select * from brandy")
for row in results:
    print(row)

(1, ' Air Jordan 1 Low SE', "Women's Shoes", '10 295.00', '2 Colours\n')
(2, ' Nike Court Vision Low', "Men's Shoes", '5 695.00', '1 Colour\n')
(3, ' Nike Dunk Low SE', "Women's Shoes", '9 695.00', '1 Colour\n')
(4, ' Nike Air Max 1', "Men's shoes", '12 795.00', '5 Colours\n')
(5, ' Air Jordan 1 Low SE', "Women's Shoes", '10 295.00', '1 Colour\n')
(6, ' Nike Air Max 1', "Women's shoes", '12 795.00', '5 Colours\n')
(7, ' Nike Air Max SC SE', "Women's Shoes", '7 495.00', '1 Colour\n')
(8, ' Nike Dunk Low Twist', "Women's Shoes", '9 695.00', '5 Colours\n')
(9, " Nike Air Force 1 '07", "Women's Shoes", '9 695.00', '1 Colour\n')
(10, " Nike Blazer Low '77 Vintage", "Men's Shoes", '7 195.00', '3 Colours\n')
(11, 'Nike Air Force 1 Shadow', "Women's Shoes", '8 995.00', '2 Colours\n')
(12, 'Nike Zoom Vomero 5', "Women's Shoes", '16 995.00', '1 Colour\n')
(13, 'Nike Air Max SC Leather', "Men's Shoes", '6 795.00', '2 Colours\n')
(14, 'Nike Dunk Low SE', "Women's Shoes", '9 695.00', '1 Colour\n')
(15, 'Nike Killshot 2 Leather', "Men's Shoe", '7 995.00', '3 Colours\n')
(16, 'Jumpman MVP', "Men's Shoes", '15 295.00', '2 Colours\n')
(17, "Luka 2 'Trick Shot' PF", 'Basketball Shoes', '11 895.00', '3 Colours\n')
(18, "Tatum 1 'Home Team' PF", 'Basketball Shoes', '10 795.00', '2 Colours\n')
(19, 'Nike Cortez Basic', 'Baby/Toddler Shoes', '2 995.00', '3 Colours\n')
(20, 'Nike Court Vision Low', "Men's Shoes", '5 695.00', '1 Colour\n')
(21, 'Nike Fly.By Mid 3', 'Basketball Shoes', '4 995.00', '2 Colours\n')
(22, 'Air Jordan 1 Low', "Men's Shoes", '8 995.00', '2 Colours\n')
(23, 'Paris Saint-Germain Jumpman MVP', "Men's Shoes", '15 295.00', '1 Colour\n')
(24, 'Nike Air Force 1 LV8', "Older Kids' Shoes", '7 995.00', '2 Colours\n')
(25, 'Jordan Stay Loyal 3', "Men's shoes", '10 295.00', '2 Colours\n')
(26, 'Nike Rival Multi', 'Athletics Multi-Event Spikes', '5 695.00', '1 Colour\n')
(27, 'Nike G.T. Jump 2 EP', 'Basketball Shoes', '17 495.00', '1 Colour\n')
(28, 'Jordan Stay Loyal 2', "Men's Shoes", '10 295.00', '1 Colour\n')
(29, 'Jordan Max Aura 5', "Men's Shoes", '11 895.00', '4 Colours\n')
(30, 'Nike Dunk High Retro', "Men's Shoe", '9 295.00', '1 Colour\n')
(31, 'Nike Revolution 7 EasyOn', "Men's Road Running Shoes", '3 695.00', '1 Colour\n')
(32, 'Nike Team Hustle D 11', "Younger Kids' Shoes", '4 495.00', '4 Colours\n')
(33, "Nike Air Force 1 '07", "Men's Shoes", '9 695.00', '1 Colour\n')
(34, "Nike Air Force 1 '07", "Men's Shoes", '11 895.00', '1 Colour\n')
(35, 'Air Jordan 1 Mid SE', "Men's Shoes", '12 295.00', '1 Colour\n')
(36, 'Nike Free Metcon 5', "Men's Workout Shoes", '10 795.00', '3 Colours\n')
(37, 'Nike Air Force 1 Shadow', "Women's Shoes", '11 895.00', '2 Colours\n')
(38, 'Nike Vapor 15 Elite Mercurial Dream Speed', 'FG Low-Top Football Boot', '22 995.00', '1 Colour\n')
(39, 'Nike Court Vision Low', "Men's Shoes", '5 695.00', '1 Colour\n')
(40, 'Jumpman Two Trey', "Men's Shoes", '13 995.00', '4 Colours\n')
(41, 'Nike Ja Fly 4', 'Athletics Sprinting Spikes', '9 695.00', '1 Colour\n')
(42, 'Air Jordan 1 Zoom CMFT 2', "Men's Shoes", '13 295.00', '4 Colours\n')
(43, "Nike Air Force 1 '07", "Men's Shoes", '9 695.00', '1 Colour\n')
(44, "Nike Air Force 1 '07 WB", "Men's Shoe", '10 995.00', '1 Colour\n')
(45, 'Air Jordan 1 Mid', 'Shoes', '11 495.00', '1 Colour\n')
(46, 'Nike Dunk Low SE', "Women's Shoes", '9 695.00', '1 Colour\n')
(47, 'Air Jordan 1 Mid SE', "Men's Shoes", '12 295.00', '1 Colour\n')
(48, 'Nike Offcourt Adjust', "Men's Slides", '3 195.00', '2 Colours\n')
(49, "Nike Air Force 1 '07", "Women's Shoe", '8 195.00', '6 Colours\n')
(50, 'Nike Air Max Pulse', "Men's Shoes", '13 995.00', '1 Colour\n')
(51, 'Nike Air Max Pulse Roam', "Men's Shoes", '14 995.00', '2 Colours\n')
(52, 'Nike Air Max Cirro', "Men's Slides", '3 695.00', '3 Colours\n')
(53, 'Nike Air Max Excee', "Men's Shoe", '7 995.00', '1 Colour\n')
(54, 'Nike Zoom Bella 6 PRM', "Women's Training Shoes", '8 495.00', '1 Colour\n')
(55, 'Nike Air More Uptempo', "Men's Slides", '8 495.00', '1 Colour\n')
(56, 'Nike Air Force 1 PLT.AF.ORM', "Women's Shoes", '8 695.00', '2 Colours\n')
(57, 'Nike Zoom Fly 5', "Women's Road Running Shoes", '14 995.00', '4 Colours\n')
(58, 'Nike SB React Leo', 'Skate Shoes', '8 595.00', '3 Colours\n')
(59, 'Nike Air Max 270', "Men's Shoes", '13 995.00', '3 Colours\n')
(60, 'Nike Calm', "Women's Slides", '3 895.00', '1 Colour\n')
(61, 'Air Jordan 1 Low', "Older Kids' Shoes", '7 295.00', '4 Colours\n')
(62, 'Nike Dunk High', "Older Kids' Shoes", '6 995.00', '2 Colours\n')
(63, 'Nike Air Zoom Victory Tour 3', 'Golf Shoes (Wide)', '16 995.00', '1 Colour\n')
(64, "Nike Air Force 1 '07", "Men's Shoes", '11 895.00', '1 Colour\n')
(65, 'Nike Superfly 9 Academy Mercurial Dream Speed', 'MG High-Top Football Boot', '8 995.00', '1 Colour\n')
(66, 'Nike Air Alpha Force 88', "Men's Shoes", '11 895.00', '1 Colour\n')
(67, 'Nike In-Season TR 13', "Men's Workout Shoes", '6 295.00', '4 Colours\n')
(68, 'NikeCourt Legacy', "Older Kids' Shoes", '3 495.00', '3 Colours\n')
(69, 'Nike Air Max 97', "Men's Shoes", '16 995.00', '5 Colours\n')
(70, 'Nike In-Season TR 13 PRM', "Women's Workout Shoes", '7 095.00', '1 Colour\n')
(71, 'Nike Pegasus Shield', "Men's Weatherised Road Running Shoes", '11 995.00', '2 Colours\n')
(72, "Sabrina 1 'Magnetic' EP", 'Basketball Shoes', '10 795.00', '6 Colours\n')
(73, 'Nike Air Max SC', "Women's Shoes", '5 995.00', '4 Colours\n')
(74, 'LeBron XX SE', "Older Kids' Basketball Shoes", '12 095.00', '1 Colour\n')
(75, 'Nike Victori One', "Women's Shower Slide", '1 695.00', '3 Colours\n')
(76, 'Nike Sunray Adjust 6', 'Baby/Toddler Slides', '2 495.00', '2 Colours\n')
(77, 'Nike Vomero 17', "Women's Road Running Shoes", '14 995.00', '2 Colours\n')
(78, 'Nike Pegasus Trail 4 GORE-TEX', "Women's Waterproof Trail-Running Shoes", '14 995.00', '2 Colours\n')
(79, 'Nike Run Flow', "Older Kids' Running Shoes", '6 295.00', '1 Colour\n')
(80, "Nike Air Force 1 '07", "Men's Shoes", '9 695.00', '1 Colour\n')
(81, 'Nike Air Max SYSTM', "Men's Shoes", '8 595.00', '4 Colours\n')
(82, 'Nike Team Hustle D 11', 'Baby/Toddler Shoes', '3 995.00', '2 Colours\n')
(83, 'Nike In-Season TR 13', "Women's Workout Shoes", '6 295.00', '1 Colour\n')
(84, 'Nike Superfly 9 Elite Mercurial Dream Speed', 'FG High-Top Football Boot', '25 095.00', '1 Colour\n')
(85, "Nike Blazer Mid '77", "Older Kids' Shoes", '6 495.00', '3 Colours\n')
(86, 'Nike Hyperdunk X Low EP', "Men's Basketball Shoe", '10 795.00', '1 Colour\n')
(87, 'Nike Sunray Protect 2', 'Baby/Toddler Sandals', '2 495.00', '3 Colours\n')
(88, "Nike Blazer Low '77", "Women's Shoes", '7 195.00', '2 Colours\n')
(89, 'Air Jordan 1 Low FlyEase', "Men's Easy On/Off Shoes", '11 895.00', '1 Colour\n')
(90, 'Nike Air More Uptempo', "Older Kids' Shoes", '10 295.00', '1 Colour\n')
(91, 'Nike Pegasus 40', "Men's Road Running Shoes (Extra Wide)", '11 895.00', '2 Colours\n')
(92, 'NikeCourt Zoom Vapor Cage 4 Rafa', "Men's Hard Court Tennis Shoes", '13 495.00', '2 Colours\n')
(93, 'Nike Jr. Mercurial Superfly 9 Club Mercurial Dream Speed', "Younger/Older Kids' MG High-Top Football Boot", 5495.0, '1 Colour\n')
(94, 'Air Jordan 1 Elevate Low', "Women's Shoes", '11 895.00', '5 Colours\n')
(95, 'Nike ACG Moc Premium', "Men's shoes", '8 695.00', '2 Colours\n')
(96, 'Nike Cortez 23 Premium', "Women's Shoes", '9 695.00', '1 Colour\n')
(97, 'Nike Freak 5', "Older Kids' Basketball Shoes", '8 195.00', '1 Colour\n')
(98, 'Nike Court Borough Low 2', "Older Kids' Shoes", '4 495.00', '1 Colour\n')
(99, 'Freak 5', "Younger Kids' Shoes", '5 995.00', '3 Colours\n')
(100, 'NikeCourt Legacy', "Younger Kids' Shoes", '2 995.00', '2 Colours')
(101, 'NikeCourt Air Zoom Vapor 9.5 Tour Leather', "Men's Tennis Shoes", '15 995.00', '1 Colour\n')
(102, 'Nike Air Max 270 GO', 'Baby/Toddler Easy On/Off Shoes', '6 995.00', '2 Colours\n')
(103, 'Nike Phantom GX Club', 'Turf Low-Top Football Shoes', '5 495.00', '2 Colours\n')
(104, 'Nike Air Rift Breathe', "Women's Shoes", '7 995.00', '1 Colour\n')
(105, "Air Jordan 2 Low 'Black Satin'", "Women's Shoes", '14 995.00', '1 Colour\n')
(106, 'JA 1', "Older Kids' Basketball Shoes", '7 495.00', '1 Colour\n')
(107, 'NikeCourt Legacy', 'Baby/Toddler Shoes', '2 495.00', '3 Colours\n')
(108, 'Nike Flex Runner 2', "Younger Kids' Shoes", '2 995.00', '4 Colours\n')
(109, 'Nike Dunk Low', 'Baby/Toddler Shoes', '4 595.00', '2 Colours\n')
(110, 'Giannis Immortality 3 EP', 'Basketball Shoes', '7 095.00', '5 Colours\n')
(111, 'Nike Court Vision Low Premium', "Women's Shoes", '6 295.00', '1 Colour\n')
(112, 'KD16 EP', 'Basketball Shoes', '13 995.00', '4 Colours\n')
(113, 'Nike Air Force 1 GTX', 'Shoes', '14 995.00', '1 Colour\n')
(114, 'Nike Sunray Protect 2', "Younger Kids' Sandals", '2 995.00', '4 Colours\n')
(115, 'Nike Air Max 90 LTR SE', "Younger Kids' Shoes", '6 695.00', '1 Colour\n')
(116, 'Nike Air Force 1 LV8', "Older Kids' Shoes", '8 295.00', '1 Colour\n')
(117, 'Air Max 1 EasyOn', 'Baby/Toddler Shoes', '5 695.00', '3 Colours\n')
(118, 'Giannis Immortality 2', "Older Kids' Basketball Shoes", '5 495.00', '3 Colours\n')
(119, 'Nike Quest 5', "Women's Road Running Shoes", '6 295.00', '3 Colours\n')
(120, 'Nike Air Max Pulse', "Women's Shoes", '13 995.00', '4 Colours\n')
(121, 'Nike Air More Uptempo', "Older Kids' Shoes", '10 295.00', '1 Colour\n')
(122, 'Nike Air Zoom Infinity Tour NEXT% Boa', "Men's Golf Shoe (Wide)", '17 495.00', '1 Colour\n')
(123, 'LeBron Witness 8 EP', 'Basketball Shoes', '8 695.00', '4 Colours\n')
(124, 'Nike Offcourt', "Women's Slides", '2 495.00', '3 Colours\n')
(125, 'Nike ISPA Universal', "Men's Shoes", '9 695.00', '1 Colour\n')
(126, 'Nike InfinityRN 4 GORE-TEX', "Women's Waterproof Road Running Shoes", '16 995.00', '3 Colours\n')
(127, 'Nike Streakfly', 'Road Racing Shoes', '14 995.00', '3 Colours\n')
(128, 'Nike Victori One', "Men's Slides", '2 095.00', '6 Colours\n')
(129, 'Nike Air Force 1 LV8', "Older Kids' Shoes", '7 995.00', '1 Colour\n')
(130, 'Nike Offcourt', "Men's Slides", '2 495.00', '5 Colours\n')
(131, 'Nike Vomero 17', "Men's Road Running Shoes (Extra Wide)", '14 995.00', '1 Colour\n')
(132, 'NikeCourt Legacy Canvas', "Women's Shoes", '3 995.00', '3 Colours\n')
(133, 'Nike Rift', "Younger/Older Kids' Shoes", '5 995.00', '2 Colours\n')
(134, 'Air Jordan 5 Retro SE', "Older Kids' Shoes", '11 295.00', '1 Colour\n')
(135, 'Nike Air Force 1 LV8 3', "Older Kids' Shoes", '7 995.00', '1 Colour\n')
(136, 'Air Jordan 1 Elevate High SE', "Women's Shoes", '14 995.00', '2 Colours\n')
(137, 'Nike Winflo 9 Shield', "Men's Weatherised Road Running Shoes", '9 695.00', '2 Colours\n')
(138, 'Jordan 5 Retro Check', "Younger Kids' Shoes", '6 495.00', '1 Colour\n')
(139, 'Nike Air Max 90', "Men's Shoe", '9 995.00', '4 Colours\n')
(140, 'Nike Air Max 1 Premium', "Men's Shoes", '14 995.00', '1 Colour\n')
(141, 'NikeCourt Air Zoom Vapor Pro 2', "Women's Hard Court Tennis Shoes", '10 795.00', '2 Colours\n')
(142, 'Air Jordan 1 Elevate High', "Women's Shoes", '14 195.00', '3 Colours\n')
(143, "Nike Blazer Low '77", "Younger Kids' Shoes", '3 995.00', '3 Colours\n')
(144, 'Nike Air Force 1 Mid LE', "Older Kids' Shoe", '6 995.00', '1 Colour\n')
(145, 'Nike Air Max 270', "Women's Shoes", '13 995.00', '4 Colours\n')
(146, 'Nike Air Huarache Runner', "Men's Shoes", '12 795.00', '5 Colours\n')
(147, 'Nike Pegasus 40', "Women's Road Running Shoes (Wide)", '11 895.00', '1 Colour\n')
(148, 'Nike Air Max SYSTM', "Women's Shoes", '8 595.00', '3 Colours\n')
(149, 'Air Jordan 1 Mid SE', "Older Kids' Shoes", '8 695.00', '1 Colour\n')
(150, 'Nike Air Max 97 Futura', "Women's Shoes", '17 495.00', '2 Colours\n')
(151, 'Nike Air Max Koko', "Women's Sandals (22â€“29cm)", '7 995.00', '2 Colours\n')
(152, 'Nike Pegasus 40', "Women's Road Running Shoes", '11 895.00', '5 Colours\n')
(153, 'NikeCourt Air Zoom Vapor 11', "Men's Hard Court Tennis Shoes", '14 995.00', '1 Colour\n')
(154, 'Nike BRSB', 'Skate Shoes', '7 495.00', '2 Colours\n')
(155, 'Nike Air Alpha Force 88 x Billie', "Men's Shoes", '11 895.00', '1 Colour\n')
(156, 'Nike SB React Leo Premium', 'Skate Shoes', '8 695.00', '1 Colour\n')
(157, 'Nike Air Max 1 Premium', 'Shoes', '14 995.00', '1 Colour\n')
(158, 'Nike Tech Hera', "Women's shoes", '9 695.00', '5 Colours\n')
(159, 'Nike Free Metcon 5', "Women's Workout Shoes", '10 795.00', '5 Colours\n')
(160, 'Jordan 1 Mid SE', 'Baby/Toddler Shoes', '4 595.00', '1 Colour\n')
(161, 'Jordan 1 Low Alt SE', "Younger Kids' Shoes", '5 695.00', '1 Colour\n')
(162, 'Nike Offcourt Duo', "Women's Slides", '2 995.00', '2 Colours\n')
(163, 'Nike Dunk Low', "Younger Kids' Shoes", '6 495.00', '1 Colour\n')
(164, 'Jordan Play', "Men's Slides", '2 995.00', '2 Colours\n')
(165, 'Nike Sunray Adjust 6', "Older Kids' Slides", '2 995.00', '3 Colours\n')
(166, 'Nike Air Force 1 Wild', "Women's Shoes", '12 795.00', '5 Colours\n')
(167, 'Nike Phoenix Waffle', "Women's Shoes", '8 695.00', '3 Colours\n')
(168, 'Nike Motiva', "Women's Walking Shoes", '9 695.00', '3 Colours\n')
(169, 'Nike Pegasus 40', "Men's Road Running Shoes", '11 895.00', '7 Colours\n')
(170, 'Nike Dunk Low LX NBHD', "Women's Shoes", '10 795.00', '2 Colours\n')
(171, 'Nike Quest 5', "Men's Road Running Shoes", '6 295.00', '4 Colours\n')
(172, 'Air Jordan 1 High G NRG', "Men's Golf Shoes", '18 395.00', '1 Colour\n')
(173, 'Nike Phantom GX Pro', 'Firm-Ground Low-Top Football Boot', '12 995.00', '1 Colour\n')
(174, 'Nike Air Max 270 GO', "Younger Kids' Easy On/Off Shoes", '7 995.00', '4 Colours\n')
(175, 'Nike Kawa', 'Baby & Toddler Slides', '1 395.00', '2 Colours\n')
(176, 'Jordan Post', "Men's Slides", '2 195.00', '2 Colours\n')
(177, 'Nike Rival Fly 3', "Men's Road Racing Shoes", '8 195.00', '1 Colour\n')
(178, 'NikeCourt Air Zoom Vapor 11', "Women's Hard Court Tennis Shoes", '14 995.00', '2 Colours\n')
(179, "Nike Air Max 1 '86 OG G", "Men's Golf Shoes", '13 995.00', '3 Colours\n')
(180, 'Nike Sunray Adjust 6', "Younger Kids' Slides", '2 995.00', '2 Colours\n')
(181, 'Nike Air Max INTRLK Lite', "Women's Shoes", '7 095.00', '2 Colours\n')
(182, 'Nike MD Valiant', "Older Kids' Shoe", '4 495.00', '2 Colours\n')
(183, 'Nike Tanjun EasyOn', "Older Kids' Shoes", '5 095.00', '2 Colours\n')
(184, 'Nike Victori One', "Women's Slides", '2 095.00', '6 Colours\n')
(185, 'Nike Air Max 270 GO', "Younger Kids' Easy On/Off Shoes", '7 995.00', '4 Colours\n')
(186, 'Nike Kawa', 'Baby & Toddler Slides', '1 395.00', '2 Colours\n')
(187, 'Jordan Post', "Men's Slides", '2 195.00', '2 Colours\n')
(188, 'Nike Rival Fly 3', "Men's Road Racing Shoes", '8 195.00', '1 Colour\n')
(189, 'NikeCourt Air Zoom Vapor 11', "Women's Hard Court Tennis Shoes", '14 995.00', '2 Colours\n')
(190, "Nike Air Max 1 '86 OG G", "Men's Golf Shoes", '13 995.00', '3 Colours\n')
(191, 'Nike Sunray Adjust 6', "Younger Kids' Slides", '2 995.00', '2 Colours\n')
(192, 'Nike Air Max INTRLK Lite', "Women's Shoes", '7 095.00', '2 Colours\n')
(193, 'Nike MD Valiant', "Older Kids' Shoe", '4 495.00', '2 Colours\n')
(194, 'Nike Tanjun EasyOn', "Older Kids' Shoes", '5 095.00', '2 Colours\n')
(195, 'Nike Victori One', "Women's Slides", '2 095.00', '6 Colours\n')
(196, 'Nike SB Zoom Pogo Plus', 'Skate Shoes', '7 495.00', '1 Colour\n')
(197, 'Nike Cortez', "Women's Shoes", '8 495.00', '1 Colour\n')
(198, 'NikeCourt Zoom Pro', "Men's Hard Court Tennis Shoes", '8 695.00', '2 Colours\n')
(199, 'Nike GT Cut 2 EP', "Men's Basketball Shoes", '15 995.00', '3 Colours\n')
(200, 'Nike Air Max Solo', "Men's Shoes", '8 695.00', '5 Colours')
(201, 'Nike Air Max 90', "Women's Shoes", '10 795.00', '1 Colour\n')
(202, 'Nike MC Trainer 2', "Women's Workout Shoes", '5 695.00', '1 Colour\n')
(203, 'NikeCourt Air Zoom GP Turbo Naomi Osaka Premium', "Women's Hard Court Tennis Shoes", '13 995.00', '1 Colour\n')
(204, 'Nike Alphafly 2', "Women's Road Racing Shoes", '22 795.00', '3 Colours\n')
(205, 'Nike Zegama', "Women's Trail-Running Shoes", '13 995.00', '1 Colour\n')
(206, 'Nike Zoom Superfly Elite 2', 'Athletics Sprinting Spikes', '13 995.00', '1 Colour\n')
(207, "LeBron XXI 'Dragon Pearl' EP", 'Basketball Shoes', '18 395.00', '2 Colours\n')
(208, 'Nike Air Max 1 SE', "Women's Shoes", '14 995.00', '1 Colour\n')
(209, 'Nike Bella Kai', "Women's Flip-Flops", '1 995.00', '2 Colours\n')
(210, 'Nike E-Series AD', "Women's Shoes", '6 295.00', '5 Colours\n')
(211, 'Nike Air Zoom TR 1', "Men's Workout Shoes", '10 795.00', '3 Colours\n')
(212, 'NikeCourt Air Zoom Vapor Pro 2 Premium', "Men's Hard Court Tennis Shoes", '11 895.00', '1 Colour\n')
(213, 'Nike Air Max Bliss', "Women's Shoes", '13 995.00', '1 Colour\n')
(214, 'Jordan 1 Low Alt SE', 'Baby/Toddler Shoes', '4 595.00', '1 Colour\n')
(215, 'Nike Flex Runner 2', "Older Kids' Road Running Shoes", '3 495.00', '5 Colours\n')
(216, 'Nike Team Hustle D 11 SE', "Older Kids' Basketball Shoes", '5 695.00', '1 Colour\n')
(217, 'Nike Full Force Low', "Men's Shoes", '8 495.00', '3 Colours\n')
(218, 'NikePremier 3', 'Firm-Ground Low-Top Football Boot', '9 995.00', '1 Colour\n')
(219, 'Nike Air Max 97', "Older Kids' Shoes", '12 995.00', '1 Colour\n')
(220, 'Nike Air Max LTD 3', "Men's Shoe", '10 995.00', '2 Colours\n')
(221, 'Nike Jr. Superfly 9 Academy Mercurial Dream Speed', "Younger/Older Kids' MG High-Top Football Boot", '6 995.00', '1 Colour\n')
(222, 'Nike Air Max 1 SC', "Men's Shoes", '13 995.00', '2 Colours\n')
(223, 'NikeCourt Air Zoom NXT', "Men's Hard Court Tennis Shoes", '12 795.00', '2 Colours\n')
(224, 'Nike Air Max Furyosa', "Women's Shoes", '13 495.00', '1 Colour\n')
(225, 'Nike Air Force 1', "Older Kids' Shoes", '5 995.00', '6 Colours\n')
(226, 'Nike Air Max Pulse', "Men's Shoes", '13 995.00', '4 Colours\n')
(227, 'Nike Air Max 90 LTR SE', "Older Kids' Shoes", '8 195.00', '1 Colour\n')
(228, 'Nike Burrow', "Women's Slippers", '4 995.00', '1 Colour\n')
(229, 'Nike Air Max 97', "Men's Shoes", '16 995.00', '1 Colour\n')
(230, 'Nike SB Force 58', 'Skate Shoes', '6 295.00', '2 Colours\n')
(231, 'Nike Renew Ride 3', "Men's Road Running Shoes", '6 295.00', '2 Colours\n')
(232, 'Nike Air Force 1 Mid Evo', "Men's Shoes", '13 995.00', '2 Colours\n')
(233, 'Nike Zegama', "Men's Trail-Running Shoes", '13 995.00', '3 Colours\n')
(234, 'Nike Zoom Bella 6', "Women's Workout Shoes", '7 495.00', '3 Colours\n')
(235, 'Nike E-Series AD', "Men's Shoes", '6 295.00', '4 Colours\n')
(236, 'Nike Impact 4', 'Basketball Shoes', '8 495.00', '4 Colours\n')
(237, 'Jordan Super Play', "Men's Slides", '4 195.00', '2 Colours\n')
(238, 'Nike Gamma Force', "Women's Shoes", '8 495.00', '2 Colours\n')
(239, 'Jordan Hex Mule', "Women's Shoes", '4 995.00', '4 Colours\n')
(240, 'Nike Air Force 1 PLT.AF.ORM', "Women's Shoes", '10 795.00', '1 Colour\n')
(241, 'Nike Victori One', "Men's Printed Slides", '2 595.00', '4 Colours\n')
(242, 'Nike Court Legacy Lift', "Women's Shoes", '7 495.00', '4 Colours\n')
(243, 'Nike Air Max 90', "Women's Shoes", '15 995.00', '1 Colour\n')
(244, 'Nike Kawa', "Younger/Older Kids' Slides", '1 595.00', '4 Colours\n')
(245, "Nike Vaporfly 3 'Eliud Kipchoge'", "Men's Road Racing Shoes", '20 695.00', '1 Colour\n')
(246, 'Nike Air Max 90 LTR', "Older Kids' Shoes", '7 495.00', '3 Colours\n')
(247, 'Jordan 23/7', 'Baby/Toddler Shoes', '3 995.00', '2 Colours\n')
(248, 'Nike Pegasus Shield', "Women's Weatherised Road Running Shoes", '11 995.00', '2 Colours\n')
(249, 'NikeCourt Vapor Lite 2', "Men's Hard Court Tennis Shoes", '7 095.00', '3 Colours\n')
(250, 'Nike Venture Runner', "Women's Shoe", '5 495.00', '3 Colours\n')
(251, 'Nike Air Max AP', "Men's Shoes", '8 295.00', '4 Colours\n')
(252, 'Air Jordan 11 Retro Low IE', "Men's Shoes", '16 995.00', '1 Colour\n')
(253, 'Nike MD Valiant', 'Baby and Toddler Shoe', '2 995.00', '1 Colour\n')
(254, 'Nike Vomero 17 PRM', "Men's Road Running Shoes", '15 995.00', '1 Colour\n')
(255, 'Air Jordan 4 Retro', "Older Kids' Shoes", '11 095.00', '1 Colour\n')
(256, 'Nike Wildhorse 8', "Men's Trail-Running Shoes", '11 895.00', '3 Colours\n')

In [ ]:
#1. Query to retrieve all names and corresponding prices in mens shoes category.

In [68]:
results=cur.execute("select Shoes_name, shoes_price from brandy where shoes_category in ('Men')")
for i in results:
    print(i)

('Columbia Men Black TRAILSTORM PEAK MID', '"10399"')
('Columbia Men Black TRAILSTORM BEYOND', '"6299"')
('Columbia Men Black COLUMBIA VENT AERO', '"8099"')
('Columbia Men Blue COLUMBIA VENT AERO', '"7199"')
('Columbia Men Orange MONTRAIL TRINITY AG', '"10399"')
('Columbia Men Brown CRESTWOOD Water Resistant Shoes', '"8099"')
('Columbia Men Black WOODBURN II CHUKKA OMNI-HEAT Water Resistant Shoes', 0.0)
('Columbia Men Grey CRESTWOOD MID Water Resistant Shoes', '"9999"')
('Columbia Men Grey Crestwood Water Resistant Shoes', '"8999"')
('Columbia Men Brown Crestwood Water Resistant Shoes', '"8999"')
('Columbia Men Green EXPEDITIONIST SHIELD Water Resistant Shoes', '"14999"')
('Columbia Men BLACK ESCAPE THRIVE ULTRA', '"12999"')
('Columbia Men Black TRAILSTORM Water Resistant Shoes', '"8999"')
('Columbia Men Green FIRECAMP REMESH', '"6999"')
('Columbia Men Black HATANA MAX OUTDRY (Complete Waterproof)', '"10999"')
('Columbia Men Blue FIRECAMP REMESH', '"6999"')
('Columbia Men Black FACET 60 OUTDRY (Complete Waterproof)', '"15999"')
('Columbia Men Grey FACET 60 OUTDRY (Complete Waterproof)', '"15999"')
('Columbia Men Blue PEAKFREAK X2 OUTDRY (Complete Waterproof)', '"10999"')
('Columbia Men BROWN Thrive Revive', '"6499"')
('Columbia Men Black TRAILSTORM MID Water Resistant Shoes', '"9999"')
('Columbia Men Grey TRAILSTORM Water Resistant Shoes', '"8999"')
('Columbia Men Blue TRAILSTORM Water Resistant Shoes', '"8999"')
('Columbia Men Blue PEAKFREAK X2 OUTDRY (Complete Waterproof)', '"10999"')
('Columbia Men Black FACET 45 OUTDRY (Complete Waterproof)', '"16999"')
('Columbia Men Grey PEAKFREAK X2 OUTDRY (Complete Waterproof)', '"10999"')
('Columbia Men Black HOOD RIVER FLIP', '"2999"')
('Columbia Men Grey TRAILSTORM MID WATERPROOF', '"9999"')
('Columbia Men Grey REDMOND V2 MID Water Resistant Shoes', '"8999"')
('Columbia Men BLUE Montrail Trinity Fkt', '"13999"')
('Columbia Men BLACK Thrive Revive', '"6499"')
('Columbia Men Brown REDMOND V2 MID Water Resistant Shoes', '"8999"')
('Columbia Men Brown REDMOND V2 Water Resistant Shoes', '"7999"')
('Columbia Men Orange FACET 60 OUTDRY (Complete Waterproof)', '"15999"')
('Columbia Men GREEN Thrive Revive', '"6499"')
('Columbia Men Green TRAILSTORM Water Resistant Shoes', '"8999"')
('Columbia Men Blue TRAILSTORM MID Water Resistant Shoes', '"9999"')
('Columbia Men Green Crestwood Mid Water Resistant Shoes', '"9999"')
('Columbia Men Grey CRESTWOOD Water Resistant Shoes', '"8999"')
('Columbia Men Black ESCAPE THRIVE ENDURE (Complete Waterproof)', '"12999"')
('Columbia Men Brown REDMOND V2 Water Resistant Shoes', '"7999"')
('Columbia Men BLACK Montrail Trinity Fkt', '"13999"')
('Columbia Men Grey Plateau Water Resistant Shoes', '"8999"')
('Columbia Men Black PEAKFREAK II OUTDRY (Complete Waterproof)', '"10999"')
('Columbia Men Blue FIRECAMP BOOT Water Resistant Shoes', '"9999"')
('Columbia Men Brown CRESTWOOD MID Water Resistant Shoes', '"9999"')
('Columbia Men Green EXPEDITIONIST PROTECT OMNI-HEAT Water Resistant Shoes', '"12999"')
('Columbia Men Blue Crestwood Mid Water Resistant Shoes', '"9999"')
('Columbia Men Brown TRAILSTORM PEAK MID', '"10399"')
('DNAVY sh', 2697.0)
('Olive Slide Sandal for M', 777.0)
('Dnavy 4 casual sh', 2397.0)
('White Slide sandal', 777.0)
('Dnavy casual shoes', 2697.0)
('RB brown Casual shoes', 2577.0)
('Woodland Camel Trekking Shoes', 2297.0)
('Dubai Khaki casual shoes', 2577.0)
('NAVY slipp', 1497.0)
('Khaki hiking boot', 2697.0)
('Woodland KHAKI casual slippers', 1557.0)
('Black Leather Shoes For M', 2517.0)
('Woodland RUST BROWN leather flipflops', 1617.0)
('Woodland SNAYPE hiking boots', 3000.0)
('BLACK casual leather shoes', 2217.0)
('Olive green Boot', 2877.0)
('Olive green casual shoes', 2397.0)
('Olive green sh', 2817.0)
('Brown slipp', 1677.0)
('CAMEL slipp', 1377.0)
('Camel shoes', 2337.0)
('DUBAI KHAKI Shoes', 2577.0)
('RB Brown casual sneak', 2877.0)
('Woodland olive green trekking casual shoes', 3297.0)
('Olive green casual shoes', 2697.0)
('Chiku hiking shoes', 2000.0)
('Snaype casual sneak', 2397.0)
('Woodland Khaki outdoor shoes', 2397.0)
('Camel Leather slipp', 1617.0)
('Dubai Khaki casual shoes', 2217.0)
('BROWN slipp', 1677.0)
('Woodland Red sneakers', 2217.0)
('RB BROWN boots', 3597.0)
('Woodland NAVY sneakers', 2697.0)
('Camel casual sh', 2517.0)
('Desert Boot CAMEL', 2497.0)
('Black loa', 2397.0)
('Black Softy Mens Slipp', 2337.0)
('Olive Flip-flop', 419.0)
('DBrown/Wine red loafers', 3897.0)
('Camel Loafer for M', 2397.0)
('Camel slipp', 2217.0)
('Brawny GREY', 3897.0)
('Drifter DNAVY', 3597.0)
('Beige Canvas shoes', 2247.0)
('Russia Dbrown casual shoes', 3597.0)
('Khaki Boots for M', 2997.0)
('DUBAI_KHAKI Sandal for M', 1617.0)
('Brown Softy Mens Slipp', 2337.0)
('Camel Slip-on sh', 2097.0)
('Woodland Navy casual shoes', 3297.0)
('Black Fabric Luxury Sports Shoes', 4497.0)
('White/Black slide sandal', 629.0)
('Red Canvas Shoes', 2497.0)
('Khaki Sneaker for M', 2277.0)
('White Fabric Luxury Sports Shoes', 4497.0)
('BROWN slippers', 1737.0)
('Dnavy casual shoes', 2397.0)
('Blue Canvas Shoes', 2497.0)
('Blue sneakers', 3897.0)
('Dark Navy casual shoes', 2697.0)
('Navy Clogs', 1197.0)
('Woodland RUST BROWN hiking shoes', 4197.0)
('Brown slipp', 997.0)
('Beige Fabric Luxury Sports Shoes', 4497.0)
('Black Slip-on Sneak', 3597.0)
('DBROWN casual shoes', 2517.0)
('Olive Canvas shoes', 2247.0)
('Black casual sneakers', 2457.0)
('Dgreen Clogs', 1197.0)
('Tobacco sneakers', 3297.0)
('Red/Tan Penny Loa', 4197.0)
('Light Brown Chukka Boots for M', 3497.0)
('Camel high ankle boots', 2997.0)
('RB Brown Sneakers', 3497.0)
('Camel high ankle shoes', 3597.0)
('Black Loafers', 3297.0)
('Dnavy casual sh', 3297.0)
('Beige Canvas shoes', 2497.0)
('Sky Blue Casual sneak', 4197.0)
('Olive green Slipp', 419.0)
('Olive flip flop', 419.0)
('Beige Sneak', 5097.0)
('Blue Canvas Shoes', 2497.0)
('Black Softy Mens Slipp', 2337.0)
('Red brown casual shoes', 2847.0)
('Rust brown casual shoes', 3897.0)
('Red sneakers', 1400.0)
('Navy chunky sole sneakers', 3897.0)
('White Sports Shoe for M', 5097.0)
('DNAVY hiking boots', 2937.0)
('Snaype chukka boot', 3897.0)
('Blue Slip on shoes', 3597.0)
('Woodland CAMEL trekking casual shoes', 3297.0)
('Brown and khaki slippers', 347.0)
('Woodland CAMEL Casual Lifestyle shoes', 2147.0)
('Black loafers', 3897.0)
('Black slipp', 837.0)
('Camel casual shoes', 2277.0)
('Wine penny loafers', 5097.0)
('Columbia Men Grey TRAILSTORM MID WATERPROOF', '"9999"')
('Columbia Men Grey REDMOND V2 MID Water Resistant Shoes', '"8999"')
('Columbia Men BLUE Montrail Trinity Fkt', '"13999"')
('Columbia Men BLACK Thrive Revive', '"6499"')
('Columbia Men Brown REDMOND V2 MID Water Resistant Shoes', '"8999"')
('Columbia Men Brown REDMOND V2 Water Resistant Shoes', '"7999"')
('Columbia Men Orange FACET 60 OUTDRY (Complete Waterproof)', '"15999"')
('Columbia Men GREEN Thrive Revive', '"6499"')
('Columbia Men Green TRAILSTORM Water Resistant Shoes', '"8999"')
('Columbia Men Blue TRAILSTORM MID Water Resistant Shoes', '"9999"')
('Columbia Men Green Crestwood Mid Water Resistant Shoes', '"9999"')
('Columbia Men Grey CRESTWOOD Water Resistant Shoes', '"8999"')
('Columbia Men Black ESCAPE THRIVE ENDURE (Complete Waterproof)', '"12999"')
('Columbia Men Brown REDMOND V2 Water Resistant Shoes', '"7999"')
('Columbia Men BLACK Montrail Trinity Fkt', '"13999"')
('Columbia Men Grey Plateau Water Resistant Shoes', '"8999"')
('Columbia Men Black PEAKFREAK II OUTDRY (Complete Waterproof)', '"10999"')
('Columbia Men Blue FIRECAMP BOOT Water Resistant Shoes', '"9999"')
('Columbia Men Brown CRESTWOOD MID Water Resistant Shoes', '"9999"')
('Columbia Men Green EXPEDITIONIST PROTECT OMNI-HEAT Water Resistant Shoes', '"12999"')
('Columbia Men Blue Crestwood Mid Water Resistant Shoes', '"9999"')
('Columbia Men Brown TRAILSTORM PEAK MID', '"10399"')

In [ ]:
#2. Retreive number of colours in each category.

In [83]:
results=cur.execute("select shoes_colour, shoes_category from brandy where shoes_category in ('Men')")
for i in results:
    print(i)

('Black\n', 'Men')
('Black\n', 'Men')
('Black\n', 'Men')
('Blue\n', 'Men')
('Orange\n', 'Men')
('Brown\n', 'Men')
('Black\n', 'Men')
('Grey\n', 'Men')
('Grey\n', 'Men')
('Brown\n', 'Men')
('Green\n', 'Men')
('BLACK\n', 'Men')
('Black\n', 'Men')
('Green\n', 'Men')
('Black\n', 'Men')
('Blue\n', 'Men')
('Black\n', 'Men')
('Grey\n', 'Men')
('Blue\n', 'Men')
('BROWN\n', 'Men')
('Black\n', 'Men')
('Grey\n', 'Men')
('Blue\n', 'Men')
('Blue\n', 'Men')
('Black\n', 'Men')
('Grey\n', 'Men')
('Black', 'Men')
('Grey\n', 'Men')
('Grey\n', 'Men')
('BLUE\n', 'Men')
('BLACK\n', 'Men')
('Brown\n', 'Men')
('Brown\n', 'Men')
('Orange\n', 'Men')
('GREEN\n', 'Men')
('Green\n', 'Men')
('Blue\n', 'Men')
('Green\n', 'Men')
('Grey\n', 'Men')
('Black\n', 'Men')
('Brown\n', 'Men')
('BLACK\n', 'Men')
('Grey\n', 'Men')
('Black\n', 'Men')
('Blue\n', 'Men')
('Brown\n', 'Men')
('Green\n', 'Men')
('Blue\n', 'Men')
('Brown\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('All Colours\n', 'Men')
('Grey\n', 'Men')
('Grey\n', 'Men')
('BLUE\n', 'Men')
('BLACK\n', 'Men')
('Brown\n', 'Men')
('Brown\n', 'Men')
('Orange\n', 'Men')
('GREEN\n', 'Men')
('Green\n', 'Men')
('Blue\n', 'Men')
('Green\n', 'Men')
('Grey\n', 'Men')
('Black\n', 'Men')
('Brown\n', 'Men')
('BLACK\n', 'Men')
('Grey\n', 'Men')
('Black\n', 'Men')
('Blue\n', 'Men')
('Brown\n', 'Men')
('Green\n', 'Men')
('Blue\n', 'Men')
('Brown\n', 'Men')

In [87]:
results=cur.execute("select shoes_colour, shoes_category from brandy where shoes_category in ('Women')")
for i in results:
    print(i)

('Black\n', 'Women')
('Black\n', 'Women')
('Grey\n', 'Women')
('Blue\n', 'Women')
('Green\n', 'Women')
('Black\n', 'Women')
('Black\n', 'Women')
('PURPLE\n', 'Women')
('Grey\n', 'Women')
('Grey\n', 'Women')
('Black\n', 'Women')
('Red\n', 'Women')
('White\n', 'Women')
('Black\n', 'Women')
('Grey\n', 'Women')
('Purple\n', 'Women')
('Red\n', 'Women')
('Red\n', 'Women')
('Grey\n', 'Women')
('Black\n', 'Women')
('Black\n', 'Women')
('Black\n', 'Women')
('Black\n', 'Women')
('Brown\n', 'Women')
('Black\n', 'Women')
('White\n', 'Women')
('Black\n', 'Women')
('NEWTON\n', 'Women')
('Grey\n', 'Women')
('Grey\n', 'Women')
('Brown\n', 'Women')
('Blue\n', 'Women')
('Grey\n', 'Women')
('Black\n', 'Women')
('Black\n', 'Women')
('Grey\n', 'Women')
('Brown\n', 'Women')
('Grey\n', 'Women')
('Grey\n', 'Women')
('Brown\n', 'Women')
('Blue\n', 'Women')
('Grey\n', 'Women')
('Black\n', 'Women')
('Black\n', 'Women')
('Grey\n', 'Women')
('Brown\n', 'Women')

In [ ]:
#3. Retreive maximum shoes price in mens category.

In [85]:
results=cur.execute("select Shoes_name, max (shoes_price) from brandy where shoes_category in ('Men')")
for i in results:
    print(i)

('Columbia Men Grey CRESTWOOD MID Water Resistant Shoes', '"9999"')

In [ ]:
#4. Retreive cheapest prices in womens shoes in a particular color.

In [89]:
results=cur.execute("select Shoes_name, min (shoes_price) from brandy where shoes_category in ('Men')")
for i in results:
    print(i)

('Columbia Men Black WOODBURN II CHUKKA OMNI-HEAT Water Resistant Shoes', 0.0)

# The other method I learnt which is easy and timesaving where I did not encounter binding issues

In [3]:
import pandas as pd

df=pd.read_csv('CapstoneFile.csv')
df

,Unnamed: 0,Shoes_names,shoes_category,shoes_color,shoes_price,Color1,Color2,Color3,Quantity,Ratings,Reviews,Counts,StyleCode
0,0,Air Jordan 1 Low SE,Women's Shoes,2 Colours,10295.0,: Light Bone,Phantom,Coconut Milk,1,4.800000,0.0,13.0,FZ3967-072
1,1,Nike Court Vision Low,Men's Shoes,1 Colour,5695.0,: Light Silver,Black,Deep Royal Blue,1,0.000000,1.0,13.0,FB8886-001
2,2,Nike Dunk Low SE,Women's Shoes,1 Colour,9695.0,: Baroque Brown,Velvet Brown,Deep Jungle,1,0.000000,0.0,11.0,FQ8174-237
3,3,Nike Air Max 1,Men's shoes,5 Colours,12795.0,: Burgundy Crush,Plum Eclipse,Burgundy Crus,1,3.210811,0.0,13.0,FB8876-600
4,4,Air Jordan 1 Low SE,Women's Shoes,1 Colour,10295.0,: Sail,Light Orewood Brown,White,1,0.000000,0.0,NaN,FQ8075-133
...,...,...,...,...,...,...,...,...,...,...,...,...,...
510,510,BLACK wedge slipp,for women,All Colours,3897.0,-,NaN,NaN,1,3.210811,NaN,NaN,None
511,511,Woods black strappy sandal,for women,All Colours,4797.0,BLACK,NaN,NaN,1,3.210811,NaN,9.0,None
512,512,Woodland LGREY 2 loafers,for women,All Colours,1257.0,TURQUOISE,NaN,NaN,1,3.210811,NaN,13.0,None
513,513,Beige casual sneak,for women,All Colours,447.0,FUSCHIA,NaN,NaN,1,3.210811,NaN,9.0,None
514,514,BLACK wedge heel sandals,for women,All Colours,1647.0,BLACK,NaN,NaN,1,3.210811,NaN,10.0,None

In [4]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

# First Table creation

In [ ]:
conn = sqlite3.connect('Shoe_Brand.db')
cursor = conn.cursor()

In [6]:
data1_df = df[['Shoes_names', 'shoes_category', 'shoes_color', 'shoes_price']]
data1_df.to_csv('Data1.csv', index=False)

In [7]:
conn = sqlite3.connect('Shoe_Brand.db')
cursor = conn.cursor()

# Data1.csv

In [ ]:
data1_df = df[['Unnamed: 0', 'Shoes_names', 'shoes_Category', 'shoes_color', 'shoes_price']]
data1_df.to_csv('Data1.csv', index=False)

In [9]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS data1 (
        sno INTEGER PRIMARY KEY,
        Shoes_names TEXT,
        shoes_category TEXT,
        shoes_color INTEGER,
        shoes_price REAL
    )
''')

In [10]:
conn.commit()

In [11]:
data1_csv = 'Data1.csv'

In [12]:
data1_df = pd.read_csv(data1_csv)

In [13]:
data1_df.to_sql('data1', conn, if_exists='replace', index=False)

515

# Data2.csv

In [19]:
data2_df = df[['Counts', 'Color1', 'Color2', 'Color3', 'StyleCode']]
data2_df.to_csv('Data2.csv', index=False)

# Second Table Creation

In [28]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS data2 (
        sno INTEGER PRIMARY KEY,
        Counts INTEGER,
        Colors1 TEXT,
        Colors2 TEXT,
        Colors3 TEXT,
        StyleCode TEXT
    )
''')

In [29]:
conn.commit()

In [30]:
data2_csv = 'Data2.csv'

In [31]:
data2_df = pd.read_csv(data2_csv)

In [32]:
data2_df.to_sql('data2', conn, if_exists='replace', index=False)

515

# Data3.csv

In [34]:
data3_df = df[['Reviews', 'Quantity', 'Ratings']]
data3_df.to_csv('Data3.csv', index=False)

# Third Table Creation

In [35]:
cursor.execute('''
    CREATE TABLE IF NOT EXISTS data3 (
        sno INTEGER PRIMARY KEY,
        Reviews INTEGER,
        Quantity TEXT,
        Ratings INTEGER
    )
''')

In [37]:
conn.commit()

# First Table

In [15]:
# Write a query to retrieve all shoe names and their corresponding prices for men's shoes

query = ''' 
SELECT Shoes_names, shoes_price
FROM Data1
WHERE shoes_category = 'Men'; 
'''

# Execute the SQL query and store the result in a DataFrame
result_df = pd.read_sql_query(query, conn)


# Print the DataFrame
result_df

                                           Shoes_names  shoes_price
0    Columbia Men Black WOODBURN II CHUKKA OMNI-HEA...       9999.0
1    Columbia Men Green EXPEDITIONIST SHIELD Water ...      14999.0
2    Columbia Men Grey CRESTWOOD MID Water Resistan...       9999.0
3    Columbia Men Brown Crestwood Water Resistant S...       8999.0
4    Columbia Men Blue PEAKFREAK X2 OUTDRY (Complet...      10999.0
..                                                 ...          ...
132              Woodland CAMEL Casual Lifestyle shoes        147.0
133                                      Black loafers       3897.0
134                                        Black slipp        837.0
135                                 Camel casual shoes         77.0
136                                 Wine penny loafers       5097.0

[137 rows x 2 columns]

In [21]:
# Write a query to retrieve the number of different colors available for each category
query = '''
SELECT
    shoes_category,
    COUNT(DISTINCT shoes_color) AS num_colors
FROM
    Data1
GROUP BY
    shoes_category;
'''

# Execute the SQL query and store the result in a DataFrame
result_df = pd.read_sql_query(query, conn)

# Print the DataFrame
result_df

                           shoes_category  num_colors
0    Ash Gray-For All Time Red-PUMA Black           1
1                      Asphalt-Puma White           1
2            Athletics Multi-Event Spikes           1
3              Athletics Sprinting Spikes           1
4                    Baby/Toddler Sandals           1
..                                    ...         ...
125             black-white-high risk red           1
126                             for women           1
127                             originals           2
128                            sportswear           1
129                                 white           1

[130 rows x 2 columns]

In [25]:
# Write a query to find the cheapest women's shoe in a specific color (e.g., 'Black ').

query = '''
SELECT Shoes_names, shoes_price
FROM Data1
WHERE shoes_Category = 'Women' AND (
    LOWER(shoes_color) LIKE '%black%' OR
    LOWER(shoes_color) LIKE '%/black%' OR
    LOWER(shoes_color) LIKE '%black/%'
)
;
'''
result_df = pd.read_sql_query(query, conn)
result_df

                                          Shoes_names   shoes_price
0   Columbia Women Black FACET 75 OUTDRY (Complete...  1.499900e+04
1   Columbia Women Black TRAILSTORM MID OMNI HEAT ...  1.299900e+04
2            Columbia Women Black TRAILSTORM PEAK MID  1.039913e+09
3   Columbia Women Black SH/FT OUTDRY MID (Complet...  9.799140e+09
4             Columbia Women Black COLUMBIA VENT AERO  6.299900e+08
5   Columbia Women Black PEAKFREAK X2 OUTDRY (Comp...  9.000000e+08
6   Columbia Women Black TRAILSTORM MID Water Resi...  9.000000e+08
7   Columbia Women Black Crestwood Water Resistant...  6.999000e+03
8   Columbia Women Black TRAILSTORM Water Resistan...  8.999000e+03
9   Columbia Women Black HEAVENLY SHORTY OMNI-HEAT...  7.999000e+03
10  Columbia Women Black HATANA MAX OUTDRY (Comple...  1.099900e+04
11  Columbia Women Black PEAKFREAK II OUTDRY (Comp...  9.999000e+03

In [27]:
# Write a query to retrieve all shoe names and their corresponding prices for men's shoes.

query = '''
SELECT Shoes_names, shoes_price
FROM Data1
WHERE shoes_category = 'Men';

'''
# Execute the SQL query and store the result in a DataFrame
result_df = pd.read_sql_query(query, conn)

# Print the DataFrame
result_df

                                           Shoes_names  shoes_price
0    Columbia Men Black WOODBURN II CHUKKA OMNI-HEA...       9999.0
1    Columbia Men Green EXPEDITIONIST SHIELD Water ...      14999.0
2    Columbia Men Grey CRESTWOOD MID Water Resistan...       9999.0
3    Columbia Men Brown Crestwood Water Resistant S...       8999.0
4    Columbia Men Blue PEAKFREAK X2 OUTDRY (Complet...      10999.0
..                                                 ...          ...
132              Woodland CAMEL Casual Lifestyle shoes        147.0
133                                      Black loafers       3897.0
134                                        Black slipp        837.0
135                                 Camel casual shoes         77.0
136                                 Wine penny loafers       5097.0

[137 rows x 2 columns]

# Second Table

In [40]:
 #Write a query that retrieves the count of sizes for all styles.
query = '''
SELECT
    STyleCode,
    COUNT(DISTINCT Counts) AS Counts,
    MAX(Color1) AS Color1
FROM Data2
GROUP BY StyleCode;
'''

# Execute the SQL query and store the result in a DataFrame
result_df = pd.read_sql_query(query, conn)

# Print the DataFrame
result_df

            StyleCode  Counts                                        Color1
0           106668_07       1   ['', ' PUMA White-Ultra Blue-Yellow Blaze']
1           106669_07       1   ['', ' PUMA White-Ultra Blue-Yellow Blaze']
2           106669_08       1   ['', ' Ultra Blue-Yellow Blaze-PUMA White']
3           106711_06       1     ['', ' Fiery Coral-Puma Black-Poppy Red']
4           106713_03       1  ['', ' Bluemazing-Elektro Green-Puma White']
..                ...     ...                                           ...
243  SKU : BM5578-005       1                                   Black/ Grey
244  SKU : BM7874-012       1                                      Mosstone
245  SKU : BM8043-278       1                                Dark Nocturnal
246  SKU : BM8310-813       1                                         Black
247  SKU : BM9083-373       1                                      Sea Salt

[248 rows x 3 columns]

In [41]:
query = '''
SELECT
    STyleCode,
    COUNT(DISTINCT Counts) AS Counts,
    MAX(Color2) AS Color2
FROM Data2
GROUP BY StyleCode;
'''

# Execute the SQL query and store the result in a DataFrame
result_df = pd.read_sql_query(query, conn)

# Print the DataFrame
result_df

            StyleCode  Counts        Color2
0           106668_07       1          None
1           106669_07       1          None
2           106669_08       1          None
3           106711_06       1          None
4           106713_03       1          None
..                ...     ...           ...
243  SKU : BM5578-005       1          None
244  SKU : BM7874-012       1      Mosstone
245  SKU : BM8043-278       1       Fission
246  SKU : BM8310-813       1         White
247  SKU : BM9083-373       1   Light Cloud

[248 rows x 3 columns]

In [42]:
query = '''
SELECT
    STyleCode,
    COUNT(DISTINCT Counts) AS Counts,
    MAX(Color3) AS Color3
FROM Data2
GROUP BY StyleCode;
'''

# Execute the SQL query and store the result in a DataFrame
result_df = pd.read_sql_query(query, conn)

# Print the DataFrame
result_df

            StyleCode  Counts Color3
0           106668_07       1   None
1           106669_07       1   None
2           106669_08       1   None
3           106711_06       1   None
4           106713_03       1   None
..                ...     ...    ...
243  SKU : BM5578-005       1   None
244  SKU : BM7874-012       1   None
245  SKU : BM8043-278       1   None
246  SKU : BM8310-813       1   None
247  SKU : BM9083-373       1   None

[248 rows x 3 columns]

In [44]:
# Write a query to list all styles with their associated colors.

query ='''
SELECT StyleCode, Color1
FROM Data2;
'''
result_df = pd.read_sql_query(query, conn)
result_df

       StyleCode            Color1
0     FZ3967-072      : Light Bone
1     FB8886-001    : Light Silver
2     FQ8174-237   : Baroque Brown
3     FB8876-600  : Burgundy Crush
4     FQ8075-133            : Sail
..           ...               ...
510         None                 -
511         None             BLACK
512         None         TURQUOISE
513         None           FUSCHIA
514         None             BLACK

[515 rows x 2 columns]

In [45]:
query ='''
SELECT StyleCode, Color2
FROM Data2;
'''
result_df = pd.read_sql_query(query, conn)
result_df

       StyleCode               Color2
0     FZ3967-072              Phantom
1     FB8886-001                Black
2     FQ8174-237         Velvet Brown
3     FB8876-600         Plum Eclipse
4     FQ8075-133  Light Orewood Brown
..           ...                  ...
510         None                 None
511         None                 None
512         None                 None
513         None                 None
514         None                 None

[515 rows x 2 columns]

In [46]:
query ='''
SELECT StyleCode, Color3
FROM Data2;
'''
result_df = pd.read_sql_query(query, conn)
result_df

       StyleCode           Color3
0     FZ3967-072     Coconut Milk
1     FB8886-001  Deep Royal Blue
2     FQ8174-237      Deep Jungle
3     FB8876-600    Burgundy Crus
4     FQ8075-133            White
..           ...              ...
510         None             None
511         None             None
512         None             None
513         None             None
514         None             None

[515 rows x 2 columns]

In [48]:
# Write a query to find the count of sizes available for each color for a specific style code.

query='''
SELECT
    StyleCode,
    Color1,
    COUNT(DISTINCT Counts) AS Counts
FROM
    Data2
WHERE
    StyleCode = 'FB8886-001'
GROUP BY
    StyleCode, Color1;
'''
# Execute the SQL query and store the result in a DataFrame
result_df = pd.read_sql_query(query, conn)

# Print the DataFrame
result_df

Empty DataFrame
Columns: [StyleCode, Color1, Counts]
Index: []

In [56]:
# Write a query to find styles that have a specific color.

query='''
SELECT StyleCode
FROM Data2
WHERE (Color3 LIKE '%white%');
'''
result_df

      StyleCode
0    FQ8075-133
1    FQ8075-133
2    DX5883-100
3    DX9176-106
4    DJ5959-600
5    DZ3330-002
6    DX9016-002
7    DV0991-111
8    DH9523-105
9    DV0833-100
10   FQ8143-001
11   DX6865-001
12   DC3728-003
13   DZ2794-001
14   DV0788-002
15   FB9911-008
16   554724-136
17   FQ8080-133
18   FV1173-010
19   DQ9624-001
20   FD6848-001
21   FJ4923-008
22   FD1146-100
23   FB9881-600
24       EG4958
25       B75806
26       EG4958
27       GX9885
28       FX3632
29       IG2934

In [ ]:
#in Table 3, i could not find comfort as I have not scraped accordingly